---
services:
  keycloak:
    build:
      context: .
      args:
        KC_DOCKER_TAG: "26.3.4"
        ENRICHMENT_MAPPER_VERSION: "1.0.0"
      dockerfile: Dockerfile
    container_name: keycloak-sample
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=password
      - KC_LOG_LEVEL=INFO
      - KC_LOG_CONSOLE_OUTPUT=json
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    command:
      - start-dev
      - "--features=preview"
    networks:
      - keycloak-network

  postgres:
    image: postgres:18
    container_name: postgres-keycloak
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=password
    volumes:
      - keycloak_sample_postgres_data:/var/lib/postgresql # From postgres 18 the mount point has changed
    networks:
      - keycloak-network

volumes:
  keycloak_sample_postgres_data:

networks:
  keycloak-network:
    driver: bridge
