---
name: Publish package to GitHub Packages
on:
  release:
    types: [created]
  workflow_dispatch:

defaults:
  run:
    working-directory: remote-enrichment-mapper

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "corretto"
      - name: Publish package
        run: mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Resolve version
        id: version
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          else
            echo "VERSION=testing" >> $GITHUB_ENV
          fi
      - name: Upload Jar to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /home/runner/.m2/repository/rizlas/keycloak/remote-enrichment-mapper/${{ env.VERSION }}/remote-enrichment-mapper-${{ env.VERSION }}.jar
          asset_name: remote-enrichment-mapper-${{ env.VERSION }}.jar
          tag: ${{ env.VERSION }}
          overwrite: true
